.container {
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 180px;
}

.title {
  margin-bottom: 26px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btns {
  display: flex;
  gap: 70px;
  margin-bottom: 85px;
}
