.user {
  display: flex;
  margin-bottom: 70px;
}

.full-name {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  color: #000;
}

.data__keys {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.data__key {
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  color: #537173;
}

.data__values {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.data__value {
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  color: #000;
}
