.authorization {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../img/bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
  position: absolute;
  top: 50px;
  left: 50px;
}

.btn {
  padding: 16px 54px;
}
