.form__select {
  margin-bottom: 60px;
  padding: 13px 24px;
  border: 2px solid #2B4A52;
  border-radius: 0;
  max-width: 270px;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  color: #000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
