.item {
  display: flex;
  flex-wrap: wrap;
}

.key::after {
  content: ":";
}

.key {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #000;
}

.value {
  margin: 0;
  margin-left: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #000;
}

.link_email {
  text-decoration: underline;
}
