.card {
  margin-bottom: 60px;
  width: 540px;
  border-radius: 30px;
  border: 3px solid #2b4a52;
  background-color: transparent;
}

.body {
  padding: 40px;
  padding-bottom: 70px;
}

.title {
  margin-bottom: 29px;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: #2b4a52;
}
