.test__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.test__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-counter {
  margin-bottom: 27px;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  color: var(--additional-black, #000);
}

.test__controls {
  display: flex;
  align-items: center;
  gap: 80px;
}

.btn {
  padding: 16px 55px;
}

.progress {
  border-radius: 10px;
  width: 450px;
  height: 10px;
  background-color: var(--additional-light-gray, #d3d7d6);
}

.progress__inner {
  height: 100%;
  border-radius: 10px;
  /* width: 80%; */
  background-color: var(--base-focused, #c05640);
  transition: all 0.3s ease-in-out;
}
