.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  color: #2B4A52;
}

.title,
.text {
  white-space: pre-line;
}

.text {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: #000;
}
