.container {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../img/bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  color: #c05640;
}

.desc {
  margin-bottom: 90px;
  padding: 35px 80px;
  border-radius: 30px;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  color: #fff;
  background-color: #2b4a52;
}

.btn {
  margin-bottom: 15px;
  padding: 35px;
  border-radius: 15px;
  color: var(--base-text, #FDFCFA);
  font-size: 48px;
  font-weight: 700;
  line-height: 30px;
  background-color: var(--base-focused, #C05640);
}

.skip-link {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  color: #879c9d;
}
