.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.course__desc {
  position: relative;
  padding-right: 160px;
  width: 80%;
}

.course__desc::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: #2b4a52;
}

.grading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.grading__list {
  display: flex;
  gap: 77px;
}

.grading__item {
  width: 227px;
  height: 140px;
  padding: 42px 30px 23px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.grading__item:first-child,
.grading__item:last-child {
  padding-top: 50px;
  padding-bottom: 40px;
}

.grading__item:nth-child(2n + 1) {
  background-image: url("../../img/grading/item_odd__bg.svg");
}

.grading__item:nth-child(2n) {
  background-image: url("../../img/grading/item_even__bg.svg");
}

.item__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  color: #FFF;
}

.item__text_bold {
  font-weight: 700;
}

.annotation {
  margin-bottom: 60px;
}
